# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none 

pool:
  name: agentpool

stages:
  - stage: terraformInstall
    displayName: terraform install 
    jobs: 
    - job: install
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: 'latest'
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          backendServiceArm: 'practice_23-12-25'
          backendAzureRmStorageAccountName: 'abhi_stg_be_state_rg'
          backendAzureRmContainerName: 'todoinfrabestate'
          backendAzureRmKey: 'dev.terraform.tfstate'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'validate'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'plan'
          environmentServiceNameAzureRM: 'practice_23-12-25'


  